/.idea/
.env
Homestead.yaml
Homestead.json
/database/maxmind/*
/database/sql/data/demo/
/public/.ovhconfig
/public/.quarantine/
/public/.tmb/
/public/uploads/.quarantine/
/public/uploads/.tmb/
/public/uploads/app/logo/*
/public/uploads/pictures/*
/public/uploads/resumes/*
/storage/app/cache/*
/storage/backups/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/installed
/jobclass.sh
